main {
    background-color: $main-color;

    #particleContent {
        @include position(
            $p: fixed,
            $t: 0,
            $l: 0,
        );
        width: 100%;
        height: 100%;
        opacity: 0.5;
    }
}

.section-tit-wrap {
    @include display(
        $dp: flex,
        $align: flex-end,
        $justify: center, 
        $gap: 15px,
    );
    text-align: center;
    margin-bottom: 75px;

    .section-num {
        @include fontStyle(
            $size: 1.6rem,   
        );
    }

    .section-tit {
        @include fontStyle(
            $size: 3.5rem,
            $weight: $font-light,
            $family: $font-anton
        );
        letter-spacing: 0.3em;
        line-height: 1;
    }
}
/** visual section css **/
.visual-section {
    background-color: $main-color;
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;

    canvas {
        @include position(
            $t: 0,
        );
        z-index: 2;
    }

    .visual-content {
        box-sizing: border-box;
        @include display(
            $dp: flex,
            $direction: column,
            $justify: center,
        ); 
        width: 100%;
        height: 100%;
        padding: 0 25px;
        position: relative;

        #visualAniWrap {
            max-width: 190px;
            @include position(
                $t: 39%,
                $l: -5%,
            );
            transform: translate(-50%, -50%);
            transition: left 3s;
            
            &.on {
                left: 50%;
            }
        }
        
        &-txt-box {
            width: 100%;
            text-align: center;

            .pofol-tit {
                @include fontStyle(
                    $size: 6.5rem,
                    $weight: $font-light,
                    $family: $font-anton,
                );
                line-height: 1.3;
                position: relative;
                animation: titleLight 0.6s infinite alternate;

                &::after {
                    content: "";
                    @include position(
                        $b: 0,
                    );
                    display: inline-block;
                    width: 30px;
                    height: 5px;
                    background: $white;
                    margin-left: 2px;
                    text-shadow: 0 0 2px rgba(255, 255, 255, 0.6);
                    animation: typingCursor 0.3s infinite alternate;
                }
            }

            .pofol-keyword-wrap {
                position: relative;
                width: 100%;
                
                .pofol-keyword {
                    @include fontStyle(
                        $size: 2rem,
                        $weight: $font-bold
                    );

                    @include position(
                        $t: 20px,
                        $l: 50%,
                    );
                    transform: translateX(-50%);
                    opacity: 0;
                    transition: all 0.6s;

                    &.active {
                        top: 0;
                        opacity: 1;
                    }
                }
            }
        }

        .scrolldown-el {
            border-radius: 50px;
            border: 2px solid $content-main-color;
            width: 30px;
            height: 60px;
            margin-top: auto;
            transform: translateX(-50%);
            cursor: pointer;
            @include position(
                $b: 3%,
                $l: 50%
            );

            &::before {
                content: "";
                width: 15px;
                height: 15px;
                background: $content-main-color;
                border-radius: 50%;
                transform: translate(-50%, -50%);
                @include position(
                    $l: 50%,
                );
                animation: scrollball infinite 1.8s;
            }
        }
    }
}

/** ...visual section css **/

/** about section css **/
.about-section {
    padding: 120px 0;

    .about-top-wrap {
        @include display(
            $dp: flex,
            $align: center,
            $justify: center,
            $gap: 0 75px,
        );
        margin-bottom: 70px;
    }

    // about 이미지 박스 영역 css
    .about-img-box {
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 50%;
        width: 25%;
        text-align: center;
    }
    // ...about 이미지 박스 영역 css

    // about 인사말 css
    .about-greeting-box {

        .about-greeting-tit {
            font-size: 4.5rem;
        }

        .about-greeting-txt {
            font-size: 2rem;
            letter-spacing: -0.05em;
            line-height: 1.5;
            margin-top: 15px;
        }

        .link-btn {
            display: block;
            border: 1px solid $text-main-color;
            @include fontStyle($size: 1.6rem);
            text-align: center;
            max-width: 200px;
            padding: 10px 0;
            margin: 20px auto 0;
            transition: transform 0.2s;

            &:hover {
                transform: scale(1.03);
            }
        }
    }
    // ...about 인사말 css

    // about 메인 컨텐츠 css

    .about-my-box {
        @include display(
            $dp: grid,
            $areas: ". .",
            $columns: 1fr,
            $gap: 35px,
        );
    }

    .about-my {
        @include contentBg();
        padding: 75px 50px;
        overflow: hidden;

        &:last-child {
            grid-area: 2 / 3 / 2 / 1;
        }

        &-top {
            text-align: center;
            margin-bottom: 35px;
        }

        &-icon {
            position: relative;
            max-width: 120px; 
            margin: 0 auto 15px;

            &::before {
                content: "";
                @include position($t: 0, $l: 0);
                width: 100%;
                height: 100%;
                background: $main-color;
                filter: blur(10px);
                z-index: -1;
            }

            i {
                @include fontStyle($size: 3rem);
                width: 100%;
                height: 100%;
                background: linear-gradient(140deg, $main-color 33%, $sub-color 70%);
                padding: 30px 15px;
                box-sizing: border-box;
                border-radius: 20px;
            }
        }

        &-tit {
            @include fontStyle(
                $size: 2rem,
            );
            letter-spacing: 0.3em;
        }

        &-txt {
            @include fontStyle($size: 1.6rem);
            word-break: keep-all;
            line-height: 1.4;

            &.about-profile-subject {
                @include fontStyle(
                    $weight: $font-midium
                );
            }
        }

        &-profile-list,
        &-career-list {
            @include display(
                $dp: flex,
                $direction: column
            );
        }

        // about profile 컨텐츠
        &-profile-list {
            @include display($gap: 15px 0);
        }

        &-profile {
            @include display(
                $dp: flex,
                $gap: 0 5px,
            );

            i {
                @include fontStyle($size: 1.5rem);
                margin-top: 4px;
            }
        }
         //...about profile 컨텐츠

        // about career 컨텐츠 
        &-career-list {
            @include display($gap: 30px 0);
        }

        &-career {
            @include display(
                $dp: flex,
                $gap: 0 7px
            );
            
            &::before {
                content: "-";
                color: $white;
                @include fontStyle($size: 1.4rem);
            }
        }

        &-career-name {
            @include fontStyle($size: 1.8rem);
            margin-bottom: 10px;
        }
        // ...about career 컨텐츠

        // about skills  컨텐츠 

        &-skil-wrap {
            @include display(
                $dp: flex,
                $gap: 50px 25px,
            );
            padding: 30px 0;
            margin-bottom: 25px;
            overflow: auto;
        }

        &-skil-btn {
            @include display(
                $dp: flex,
                $align: center,
                $justify: center,
                $direction: column,
                $gap: 7px 0,
            );
            box-sizing: border-box;
            border: 2px solid $main-color;
            border-radius: 50%;
            min-width: 105px;
            min-height: 105px;
            margin: 0 auto;
            overflow: hidden;
            cursor: pointer;
            text-align: center;
            transition: all 0.3s;

            &.active {
                background: radial-gradient(circle at 50%, $sub-color, $black);
                border: 5px solid $main-color;
            }

            i {
                @include fontStyle($size: 3rem);
            }
        }

        &-skil-name {
            @include fontStyle(
                $size: 1.2rem,
                $family: $font-anton,
                $weight: $font-regular,
            );
        }

        &-skil-detail-box {
            border: 3px solid $main-color;
            padding: 8px 20px 25px;
        }

        &-skil-detail-name {
            border-bottom: 5px solid $main-color;
            @include display(
                $dp: inline-block
            );
            @include fontStyle(
                $size: 4rem,
                $family: $font-anton,
                $weight: $font-midium,
            );
            letter-spacing: 0;
            padding-bottom: 5px;
            padding-right: 25px;
            margin-bottom: 25px;
        }

        &-skil-detail-desc {
            @include fontStyle(
                $size: 1.8rem,
            );
            line-height: 1.6;
            word-break: keep-all;
        }
        // ...about skills  컨텐츠

    }
    // ...about 메인 컨텐츠 css
}
/** ...about section css **/


/** works section css **/
.work-section {
    padding: 120px 0;

    .work-list {
        @include display(
            $dp: grid,
            $areas: ". . .",
            $columns: 1fr,
            $rows: 1fr,
            $gap: 25px 15px,
        )
    }

    .work {
        @include contentBg();
        border-radius: 20px;
        padding: 30px 20px;
        position: relative;
        transition: all 0.3s;

        &:hover {
            box-shadow: 0 0 10px 3px $rgbaBlack-05;
        }

        &-txt {
            @include fontStyle(
                $size: 1.4rem,
                $family: $font-anton
            );
            letter-spacing: 0.8em;
        }

        &-name {
            @include fontStyle(
                $size: 2rem,
                $weight: $font-midium,
            );
            word-break: keep-all;
            margin: 17px 0;
        }

        &-info {
            margin-bottom: 7px;

            &:last-child {margin-bottom: 0;}

            &::before {
                content: "-";
                color: $white;
                @include fontStyle($size: 1.6rem);
            }

            span {
                @include fontStyle(
                    $size: 1.4rem,
                    $weight: $font-light,
                )
            }
        }

        &-link-wrap {
            @include display(
                $dp: flex,
                $gap: 0 10px,
            );
            margin-top: 25px;
        }

        &-link {
            border: 1px solid $content-main-color;
            border-radius:  7px;
            text-align: center;
            width: 100%;
            padding: 7px 0;
            position: relative;
            overflow: hidden;
            
            span {
                @include fontStyle(
                    $size: 1.5rem,
                    $weight: $font-light,
                );
                position: relative;
                z-index: 2;
            }

            @include btnElHoverAction();
        }
    }

    .btn-wrap {
        margin-top: 50px;
        text-align: center;

        #loadMoreBtn { 
            border: 1px solid $content-main-color;
            width: 100%;
            max-width: 300px;
            padding: 7px 0;
            position: relative;
            overflow: hidden;
            
            span {
                @include fontStyle($size: 2rem);
                position: relative;
                z-index: 2;
            }

            @include btnElHoverAction();
        }
    }
}
/** ...works section css **/


/** contact section css **/
.contact-section {
    padding: 120px 0;
    
    .contact-content-container {
        @include display(
            $dp: grid,
            $areas: ". .",
            $columns: 50% 30%,
            $justify: center,
            $gap: 15px,
        );
    }
    .contact-form-box {
        @include contentBg();
        border: 1px solid $content-main-color;
        border-radius: 20px;
        width: 100%;
        max-width: 700px;
        margin: 0 auto;
    }

    .contact-form-inner {
        padding: 45px 25px;
    }

    .contact-form {
        margin-bottom: 35px;

        &:last-child {margin-bottom: 0;}
        
        label {
            color: $white;
            @include fontStyle(
                $family: $font-anton,
                $size: 1.6rem,
                $weight: $font-light,
            );
            letter-spacing: 0.1em;
        }
        

        &-input {
            margin-top: 10px;
        }

        input,textarea {
            @include fontStyle($size: 1.6rem);
        }

        textarea {
            height: 200px;
        }
    }

    .contact-form-btn {
        @include display(
            $dp: flex,
            $gap: 0 20px,
        );

        .contact-btn {
            border: 1px solid $content-main-color;
            width: 100%;
            padding: 20px 0;
            position: relative;
            @include btnElHoverAction();
            
            span {
                color: $text-main-color;
                @include fontStyle(
                    $size: 1.6rem,
                );
                position: relative;
                z-index: 2;
            }

        }
    }

    .contact-qr-box {
        @include display(
            $dp: flex,
            $direction: column,
            $justify: center
        );
        @include contentBg();
        box-sizing: border-box;
        border: 1px solid $content-main-color;
        border-radius: 20px;
        padding: 20px 45px;
        text-align: center;
        height: 100%;

        .qr-text-wrap {
            text-align: center;
            
            .qr-tit {
                @include fontStyle(
                    $size: 1.8rem,
                );
                margin-bottom: 10px;
            }
    
            .qr-desc {
                @include fontStyle(
                    $size: 1.6rem
                );
                letter-spacing: -0.05em;
            }
        }

        .qr-wrap {
            margin-top: 25px;
            
            a {
                display: block;
                border: 1px solid $white;
                padding: 15px;
                transition: background-color 0.3s;
            }

            &:hover {
                a {background-color: $black;}
            }
        }
    }

    .contact-social-box {
        margin-top: 15px;
        max-width: 500px;
        margin: 30px auto 0;
    }

    .contact-social-wrap {
        @include display(
            $dp: flex,
            $justify: space-between,
            $gap: 0 10px,
        );
    }

    .social {
        @include contentBg();
        width: 100%;
        padding: 15px 0;
        text-align: center;
        
        i,p {
            transition: color 0.3s;
        }


        i {
            @include fontStyle(
                $size: 3rem,
            );
        }

        &-name {
            @include fontStyle(
                $size: 1.6rem,
            );
            margin-top: 8px;
        }

        &#socialGit:hover {
            i,p {color: #fff600;}
        }

        &#socialTstory:hover {
            i,p {color: #00fffa;}
        }

        &#socialInsta:hover {
            i,p {color: #ff00ff;}
        }
    }
}

.error {
    animation: contactInputError infinite 0.2s;
}
/** ...contact section css **/