* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
}

html {
  font-size: 62.5%;
  font-family: "Pretendard";
}
html::-webkit-scrollbar {
  display: block;
  width: 8px;
}
html::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.8);
}
html::-webkit-scrollbar-thumb {
  background: #04a35b;
  border-radius: 8px;
  height: 10%;
}

img {
  width: 100%;
}

.section-inner {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 25px;
}

input, textarea, button {
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Pretendard";
}

input, textarea {
  background: transparent;
  border: 1px solid #04a35b;
  color: #fff;
  width: 100%;
  padding: 7px 5px;
}

textarea {
  resize: none;
}

button {
  cursor: pointer;
  background: transparent;
}

h1, h2, h3, h4, h5, h6, p, span, b, strong, i, a {
  color: #ccd6f6;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.ttf") format("truetype");
  font-display: swap;
}
/*** intro css ***/
.intro-box {
  position: fixed;
  top: 0;
  left: 0;
  background: radial-gradient(circle at 50% 50%, rgb(10, 25, 47), rgb(0, 0, 0) 50% 50%);
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
  z-index: 1009;
}
.intro-box-inner {
  max-width: 720px;
  height: 100%;
  margin: 0 auto;
}
.intro-box::after {
  content: "";
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.intro-box.close {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  opacity: 0;
}
.intro-box.close::after {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.intro-content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

#introAniBox {
  max-width: 65%;
}

.progress-wrap {
  width: 100%;
  max-width: 250px;
}

.progress-bar {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.4);
  width: 100%;
  height: 5px;
  position: relative;
  overflow: hidden;
}
.progress-bar .percentage-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #eaeaea;
  -webkit-transition: width 3s;
  transition: width 3s;
}

.intro-txt {
  text-align: center;
  margin-top: 20px;
  position: relative;
}
.intro-txt-cont {
  position: absolute;
  width: 100%;
}
.intro-txt .loading-txt-box .loading-txt {
  position: relative;
  -webkit-animation: bouncing 0.8s infinite alternate;
          animation: bouncing 0.8s infinite alternate;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.intro-txt .loading-txt-box .loading-txt:nth-child(1) {
  -webkit-animation-delay: .1s;
          animation-delay: .1s;
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}
.intro-txt .loading-txt-box .loading-txt:nth-child(2) {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}
.intro-txt .loading-txt-box .loading-txt:nth-child(3) {
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}
.intro-txt .loading-txt-box .loading-txt:nth-child(4) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}
.intro-txt .loading-txt-box .loading-txt:nth-child(5) {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}
.intro-txt .loading-txt-box .loading-txt:nth-child(6) {
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
}
.intro-txt .loading-txt-box .loading-txt:nth-child(7) {
  -webkit-animation-delay: .7s;
          animation-delay: .7s;
  -webkit-transition-delay: .7s;
          transition-delay: .7s;
}
.intro-txt .loading-txt-box .loading-txt:nth-child(8) {
  -webkit-animation-delay: .8s;
          animation-delay: .8s;
  -webkit-transition-delay: .8s;
          transition-delay: .8s;
}
.intro-txt .loading-txt-box .loading-txt:nth-child(9) {
  -webkit-animation-delay: .9s;
          animation-delay: .9s;
  -webkit-transition-delay: .9s;
          transition-delay: .9s;
}
.intro-txt .loading-txt-box .loading-txt.active {
  opacity: 1;
}
.intro-txt .connect-txt-box .connect-txt {
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.intro-txt .connect-txt-box .connect-txt:nth-child(1) {
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}
.intro-txt .connect-txt-box .connect-txt:nth-child(2) {
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}
.intro-txt .connect-txt-box .connect-txt:nth-child(3) {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}
.intro-txt .connect-txt-box .connect-txt:nth-child(4) {
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}
.intro-txt .connect-txt-box .connect-txt:nth-child(5) {
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}
.intro-txt .connect-txt-box .connect-txt:nth-child(6) {
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
}
.intro-txt .connect-txt-box .connect-txt:nth-child(7) {
  -webkit-transition-delay: .7s;
          transition-delay: .7s;
}
.intro-txt .connect-txt-box .connect-txt:nth-child(8) {
  -webkit-transition-delay: .8s;
          transition-delay: .8s;
}
.intro-txt .connect-txt-box .connect-txt.active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.intro-txt span {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Anton", sans-serif;
  letter-spacing: 0.07em;
}

main {
  background-color: #0a192f;
}
main::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: sectionGradient infinite 8s;
          animation: sectionGradient infinite 8s;
  z-index: -2;
}

.section-tit-wrap {
  text-align: center;
  margin-bottom: 75px;
}
.section-tit-wrap .section-tit {
  font-size: 3.5rem;
  font-weight: 300;
  font-family: "Anton", sans-serif;
  letter-spacing: 0.3em;
}

/** visual section css **/
.visual-section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.visual-section .visual-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: mainGradient 4s infinite;
          animation: mainGradient 4s infinite;
}
.visual-section .visual-content-txt-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: center;
}
.visual-section .visual-content-txt-box .pofol-tit {
  font-size: 7rem;
  font-weight: 300;
  font-family: "Anton", sans-serif;
  line-height: 1.3;
  position: relative;
  -webkit-animation: titleLight 0.6s infinite alternate;
          animation: titleLight 0.6s infinite alternate;
}
.visual-section .visual-content-txt-box .pofol-tit::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -30px;
  display: inline-block;
  width: 30px;
  height: 5px;
  background: #fff;
  margin-left: 2px;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.6);
  -webkit-animation: typingCursor 0.3s infinite alternate;
          animation: typingCursor 0.3s infinite alternate;
}
.visual-section .visual-content-txt-box .pofol-keyword-wrap {
  position: relative;
  width: 100%;
}
.visual-section .visual-content-txt-box .pofol-keyword-wrap .pofol-keyword {
  font-size: 2rem;
  font-weight: 600;
  position: absolute;
  top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.visual-section .visual-content-txt-box .pofol-keyword-wrap .pofol-keyword.active {
  top: 0;
  opacity: 1;
}
.visual-section .visual-content .scrolldown-el {
  border-radius: 50px;
  border: 2px solid #04a35b;
  width: 30px;
  height: 60px;
  margin-top: auto;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
  position: absolute;
  left: 50%;
  bottom: 3%;
}
.visual-section .visual-content .scrolldown-el::before {
  content: "";
  width: 15px;
  height: 15px;
  background: #04a35b;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  -webkit-animation: scrollball infinite 1.8s;
          animation: scrollball infinite 1.8s;
}

/** ...visual section css **/
/** about section css **/
.about-section {
  padding: 120px 0;
}
.about-section .about-top-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 75px;
  margin-bottom: 70px;
}
.about-section .about-img-box {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  width: 25%;
  text-align: center;
}
.about-section .about-greeting-box .about-greeting-tit {
  font-size: 4.5rem;
  margin-bottom: 15px;
}
.about-section .about-greeting-box .about-greeting-txt {
  font-size: 2rem;
  letter-spacing: -0.05em;
}
.about-section .about-my-box {
  display: grid;
  grid-template-areas: ". .";
  grid-auto-columns: 1fr;
  gap: 35px;
}
.about-section .about-my {
  background: rgba(0, 0, 0, 0.5);
  padding: 75px 50px;
  overflow: hidden;
}
.about-section .about-my:last-child {
  grid-area: 2/3/2/1;
}
.about-section .about-my-top {
  text-align: center;
  margin-bottom: 35px;
}
.about-section .about-my-icon {
  position: relative;
  max-width: 120px;
  margin: 0 auto 15px;
}
.about-section .about-my-icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0a192f;
  -webkit-filter: blur(10px);
          filter: blur(10px);
  z-index: -1;
}
.about-section .about-my-icon i {
  font-size: 3rem;
  width: 100%;
  height: 100%;
  background: linear-gradient(140deg, #0a192f 33%, #0e2a51 70%);
  padding: 30px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
}
.about-section .about-my-tit {
  font-size: 2rem;
  letter-spacing: 0.3em;
}
.about-section .about-my-desc {
  font-size: 1.6rem;
  word-break: keep-all;
  line-height: 1.4;
}
.about-section .about-my-desc.about-profile-subject {
  font-weight: 500;
}
.about-section .about-my-profile-list, .about-section .about-my-career-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about-section .about-my-profile-list {
  gap: 15px 0;
}
.about-section .about-my-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 5px;
}
.about-section .about-my-profile i {
  font-size: 1.5rem;
  margin-top: 4px;
}
.about-section .about-my-career-list {
  gap: 30px 0;
}
.about-section .about-my-career {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 7px;
}
.about-section .about-my-career::before {
  content: "-";
  color: #fff;
  font-size: 1.4rem;
}
.about-section .about-my-career-name {
  font-size: 1.8rem;
  margin-bottom: 10px;
}
.about-section .about-my-skil-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px 25px;
  padding: 30px 0;
  margin-bottom: 25px;
  overflow: auto;
}
.about-section .about-my-skil-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #0a192f;
  border-radius: 50%;
  min-width: 105px;
  min-height: 105px;
  margin: 0 auto;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.about-section .about-my-skil-btn.active {
  background: radial-gradient(circle at 50%, #0e2a51, #000);
  border: 5px solid #0a192f;
}
.about-section .about-my-skil-btn i {
  font-size: 3rem;
}
.about-section .about-my-skil-name {
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Anton", sans-serif;
}
.about-section .about-my-skil-detail-box {
  border: 3px solid #0a192f;
  padding: 8px 20px 25px;
}
.about-section .about-my-skil-detail-name {
  border-bottom: 5px solid #0a192f;
  display: inline-block;
  font-size: 4rem;
  font-weight: 500;
  font-family: "Anton", sans-serif;
  letter-spacing: 0;
  padding-bottom: 5px;
  padding-right: 25px;
  margin-bottom: 25px;
}
.about-section .about-my-skil-detail-desc {
  font-size: 1.8rem;
  line-height: 1.6;
  word-break: keep-all;
}

/** ...about section css **/
/** works section css **/
.work-section {
  padding: 120px 0;
}
.work-section .work-btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  max-width: 500px;
  margin: 0 auto 50px;
}
.work-section .work-btn-box .work-cate-btn {
  border: 1px solid #04a35b;
  color: #ccd6f6;
  font-size: 2rem;
  font-family: "Anton", sans-serif;
  width: 100%;
  padding: 15px 0;
  position: relative;
}
.work-section .work-btn-box .work-cate-btn::after {
  content: "";
  background: #04a35b;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  z-index: -1;
}
.work-section .work-btn-box .work-cate-btn:hover {
  color: #000;
  font-weight: 600;
}
.work-section .work-btn-box .work-cate-btn:hover::after {
  width: 100%;
}
.work-section .work-btn-box .work-cate-btn.active::after {
  width: 100%;
}
.work-section .work-list {
  display: grid;
  grid-template-areas: ". . .";
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 25px 15px;
}
.work-section .work {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 30px 20px;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.work-section .work:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.4);
}
.work-section .work-txt {
  font-size: 1.4rem;
  font-family: "Anton", sans-serif;
  letter-spacing: 0.8em;
}
.work-section .work-name {
  font-size: 2rem;
  font-weight: 500;
  word-break: keep-all;
  margin: 17px 0;
}
.work-section .work-info {
  margin-bottom: 7px;
}
.work-section .work-info:last-child {
  margin-bottom: 0;
}
.work-section .work-info::before {
  content: "-";
  color: #fff;
  font-size: 1.6rem;
}
.work-section .work-info span {
  font-size: 1.4rem;
  font-weight: 300;
}
.work-section .work-link-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 10px;
  margin-top: 25px;
}
.work-section .work-link {
  border: 1px solid #04a35b;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  width: 100%;
  padding: 7px 0;
  position: relative;
}
.work-section .work-link::after {
  content: "";
  background: #04a35b;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  z-index: -1;
}
.work-section .work-link:hover {
  color: #000;
  font-weight: 600;
}
.work-section .work-link:hover::after {
  width: 100%;
}

/** ...works section css **/
/** contact section css **/
.contact-section {
  padding-bottom: 150px;
}
.contact-section .section-tit-wrap .section-tit {
  margin-bottom: 15px;
}
.contact-section .section-tit-wrap .section-tit-desc {
  font-size: 1.8rem;
  font-weight: 300;
  font-family: "Anton", sans-serif;
}
.contact-section .contact-form-box {
  border: 3px solid #0a192f;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.5);
  max-width: 700px;
  margin: 0 auto;
}
.contact-section .contact-form-inner {
  padding: 45px 25px;
}
.contact-section .contact-form {
  margin-bottom: 35px;
}
.contact-section .contact-form:last-child {
  margin-bottom: 0;
}
.contact-section .contact-form label {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 300;
  font-family: "Anton", sans-serif;
  letter-spacing: 0.1em;
}
.contact-section .contact-form-input {
  margin-top: 10px;
}
.contact-section .contact-form input, .contact-section .contact-form textarea {
  font-size: 1.6rem;
}
.contact-section .contact-form textarea {
  height: 200px;
}
.contact-section .contact-form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 20px;
}
.contact-section .contact-form-btn .contact-btn {
  border: 1px solid #04a35b;
  color: #ccd6f6;
  font-size: 1.6rem;
  width: 100%;
  padding: 20px 0;
}
.contact-section .contact-social-box {
  margin-top: 15px;
  max-width: 500px;
  margin: 30px auto 0;
}
.contact-section .contact-social-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0 10px;
}
.contact-section .social {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 15px 0;
  text-align: center;
}
.contact-section .social i, .contact-section .social p {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.contact-section .social i {
  font-size: 3rem;
}
.contact-section .social-name {
  font-size: 1.6rem;
  margin-top: 8px;
}
.contact-section .social#socialGit:hover i, .contact-section .social#socialGit:hover p {
  color: #fff600;
}
.contact-section .social#socialTstory:hover i, .contact-section .social#socialTstory:hover p {
  color: #00fffa;
}
.contact-section .social#socialInsta:hover i, .contact-section .social#socialInsta:hover p {
  color: #ff00ff;
}

/** ...contact section css **/
/** animations class **/
.bg-ani {
  -webkit-animation: lineAni 3s infinite alternate;
          animation: lineAni 3s infinite alternate;
}

.fade-ani {
  -webkit-animation: fade 1s infinite alternate;
          animation: fade 1s infinite alternate;
}

/** ...animations class **/
/** intro animation keyframes **/
@-webkit-keyframes bouncing {
  0% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-transform: translateX(0) translateY(-15px);
            transform: translateX(0) translateY(-15px);
  }
}
@keyframes bouncing {
  0% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-transform: translateX(0) translateY(-15px);
            transform: translateX(0) translateY(-15px);
  }
}
/** ...intro animation keyframes **/
@-webkit-keyframes titleLight {
  0% {
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.6);
  }
  100% {
    text-shadow: 0 0 11px rgba(255, 255, 255, 0.6);
  }
}
@keyframes titleLight {
  0% {
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.6);
  }
  100% {
    text-shadow: 0 0 11px rgba(255, 255, 255, 0.6);
  }
}
@-webkit-keyframes typingCursor {
  0% {
    background-color: #fff;
  }
  100% {
    background-color: #000;
  }
}
@keyframes typingCursor {
  0% {
    background-color: #fff;
  }
  100% {
    background-color: #000;
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes scrollball {
  0% {
    top: 17%;
  }
  100% {
    top: 82%;
    opacity: 0;
  }
}
@keyframes scrollball {
  0% {
    top: 17%;
  }
  100% {
    top: 82%;
    opacity: 0;
  }
}
/** ...main animation keyframes **/