@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-dynamic-subset.css");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
}

html {
  font-size: 62.5%;
  font-family: "Pretendard Variable";
  overflow: hidden;
}
html::-webkit-scrollbar {
  display: block;
  width: 8px;
}
html::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.8);
}
html::-webkit-scrollbar-thumb {
  background: #04a35b;
  border-radius: 8px;
  height: 10%;
}

img {
  width: 100%;
}

section {
  position: relative;
  z-index: 2;
}

.section-inner {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 25px;
}

input, textarea, button {
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Pretendard Variable";
}

input, textarea {
  background: transparent;
  border: 1px solid #04a35b;
  color: #fff;
  width: 100%;
  padding: 7px 5px;
}

textarea {
  resize: none;
}

button {
  cursor: pointer;
  background: transparent;
}

h1, h2, h3, h4, h5, h6, p, span, b, strong, i, a {
  color: #ccd6f6;
}

/*** intro css ***/
.intro-box {
  position: fixed;
  top: 0;
  left: 0;
  background: radial-gradient(circle at 50% 50%, #0f3c7a, rgb(0, 0, 0) 50% 50%);
  width: 100%;
  height: 100%;
  -webkit-transition-property: -webkit-transform opacity;
  transition-property: -webkit-transform opacity;
  transition-property: transform opacity;
  transition-property: transform opacity, -webkit-transform opacity;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
  z-index: 1009;
}
.intro-box-inner {
  max-width: 720px;
  height: 100%;
  margin: 0 auto;
}
.intro-box::after {
  content: "";
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.intro-box.close {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  opacity: 0;
}
.intro-box.close::after {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.intro-content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: -50px;
}

#introAniBox {
  max-width: 65%;
  margin-bottom: calc(15px - 18%);
}

.progress-wrap {
  width: 100%;
  max-width: 250px;
}

.progress-bar {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.4);
  width: 100%;
  height: 5px;
  position: relative;
  overflow: hidden;
}
.progress-bar .percentage-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #eaeaea;
  -webkit-transition: width 3s;
  transition: width 3s;
}

.intro-txt {
  text-align: center;
  margin-top: 20px;
  position: relative;
}
.intro-txt-cont {
  position: absolute;
  width: 100%;
}
.intro-txt .loading-txt-box .loading-txt {
  position: relative;
  -webkit-animation: bouncing 0.8s infinite alternate;
          animation: bouncing 0.8s infinite alternate;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.intro-txt .loading-txt-box .loading-txt:nth-child(1) {
  -webkit-animation-delay: .1s;
          animation-delay: .1s;
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}
.intro-txt .loading-txt-box .loading-txt:nth-child(2) {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}
.intro-txt .loading-txt-box .loading-txt:nth-child(3) {
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}
.intro-txt .loading-txt-box .loading-txt:nth-child(4) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}
.intro-txt .loading-txt-box .loading-txt:nth-child(5) {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}
.intro-txt .loading-txt-box .loading-txt:nth-child(6) {
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
}
.intro-txt .loading-txt-box .loading-txt:nth-child(7) {
  -webkit-animation-delay: .7s;
          animation-delay: .7s;
  -webkit-transition-delay: .7s;
          transition-delay: .7s;
}
.intro-txt .loading-txt-box .loading-txt:nth-child(8) {
  -webkit-animation-delay: .8s;
          animation-delay: .8s;
  -webkit-transition-delay: .8s;
          transition-delay: .8s;
}
.intro-txt .loading-txt-box .loading-txt:nth-child(9) {
  -webkit-animation-delay: .9s;
          animation-delay: .9s;
  -webkit-transition-delay: .9s;
          transition-delay: .9s;
}
.intro-txt .loading-txt-box .loading-txt.active {
  opacity: 1;
}
.intro-txt .connect-txt-box .connect-txt {
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.intro-txt .connect-txt-box .connect-txt:nth-child(1) {
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}
.intro-txt .connect-txt-box .connect-txt:nth-child(2) {
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}
.intro-txt .connect-txt-box .connect-txt:nth-child(3) {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}
.intro-txt .connect-txt-box .connect-txt:nth-child(4) {
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}
.intro-txt .connect-txt-box .connect-txt:nth-child(5) {
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}
.intro-txt .connect-txt-box .connect-txt:nth-child(6) {
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
}
.intro-txt .connect-txt-box .connect-txt:nth-child(7) {
  -webkit-transition-delay: .7s;
          transition-delay: .7s;
}
.intro-txt .connect-txt-box .connect-txt:nth-child(8) {
  -webkit-transition-delay: .8s;
          transition-delay: .8s;
}
.intro-txt .connect-txt-box .connect-txt.active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.intro-txt span {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Anton", sans-serif;
  letter-spacing: 0.07em;
}

header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px;
  z-index: 99;
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1270px;
  margin: 0 auto;
}
.header-inner .title-wrap .title {
  position: absolute;
  text-indent: -9999px;
}
.header-inner .title-wrap .logo {
  font-size: 1.7rem;
  font-family: "Yellowtail";
}

.nav-wrap .nav-open-btn-wrap {
  display: none;
  position: relative;
  z-index: 1002;
}
.nav-wrap .nav-open-btn-wrap #navOpenBtn {
  width: 30px;
  height: 20px;
  margin-left: auto;
  position: relative;
}
.nav-wrap .nav-open-btn-wrap .nav-btn-el {
  background-color: #fff;
  width: 100%;
  height: 2px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}
.nav-wrap .nav-open-btn-wrap .nav-btn-el:nth-child(1) {
  top: 0;
}
.nav-wrap .nav-open-btn-wrap .nav-btn-el:nth-child(2) {
  top: 50%;
}
.nav-wrap .nav-open-btn-wrap .nav-btn-el:nth-child(3) {
  top: 100%;
}
.nav-wrap .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}
.nav-wrap .nav-list .menu {
  position: relative;
}
.nav-wrap .nav-list .menu::after {
  content: "";
  background-color: #04a35b;
  width: 0;
  height: 1px;
  position: absolute;
  left: 50%;
  bottom: -10px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
}
.nav-wrap .nav-list .menu:hover::after {
  width: 100%;
}
.nav-wrap .nav-list .menu.current::after {
  width: 100%;
}
.nav-wrap .nav-list span, .nav-wrap .nav-list b {
  font-size: 1.4rem;
}
.nav-wrap .nav-list .menu-name {
  font-family: "Anton", sans-serif;
  letter-spacing: 0.15em;
}

main {
  background-color: #0a192f;
}
main #particleContent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.section-tit-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 15px;
  text-align: center;
  margin-bottom: 75px;
}
.section-tit-wrap .section-num {
  font-size: 1.6rem;
}
.section-tit-wrap .section-tit {
  font-size: 3.5rem;
  font-weight: 300;
  font-family: "Anton", sans-serif;
  letter-spacing: 0.3em;
  line-height: 1;
}

/** visual section css **/
.visual-section {
  background-color: #0a192f;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
}
.visual-section canvas {
  position: absolute;
  top: 0;
  z-index: 2;
}
.visual-section .visual-content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0 25px;
  position: relative;
}
.visual-section .visual-content #visualAniWrap {
  max-width: 190px;
  position: absolute;
  top: 39%;
  left: -5%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: left 3s;
  transition: left 3s;
}
.visual-section .visual-content #visualAniWrap.on {
  left: 50%;
}
.visual-section .visual-content-txt-box {
  width: 100%;
  text-align: center;
}
.visual-section .visual-content-txt-box .pofol-tit {
  font-size: 6.5rem;
  font-weight: 300;
  font-family: "Anton", sans-serif;
  line-height: 1.3;
  position: relative;
  -webkit-animation: titleLight 0.6s infinite alternate;
          animation: titleLight 0.6s infinite alternate;
}
.visual-section .visual-content-txt-box .pofol-tit::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: inline-block;
  width: 30px;
  height: 5px;
  background: #fff;
  margin-left: 2px;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.6);
  -webkit-animation: typingCursor 0.3s infinite alternate;
          animation: typingCursor 0.3s infinite alternate;
}
.visual-section .visual-content-txt-box .pofol-keyword-wrap {
  position: relative;
  width: 100%;
}
.visual-section .visual-content-txt-box .pofol-keyword-wrap .pofol-keyword {
  font-size: 2rem;
  font-weight: 600;
  position: absolute;
  top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.visual-section .visual-content-txt-box .pofol-keyword-wrap .pofol-keyword.active {
  top: 0;
  opacity: 1;
}
.visual-section .visual-content .scrolldown-el {
  border-radius: 50px;
  border: 2px solid #04a35b;
  width: 30px;
  height: 60px;
  margin-top: auto;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
  position: absolute;
  left: 50%;
  bottom: 3%;
}
.visual-section .visual-content .scrolldown-el::before {
  content: "";
  width: 15px;
  height: 15px;
  background: #04a35b;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  -webkit-animation: scrollball infinite 1.8s;
          animation: scrollball infinite 1.8s;
}

/** ...visual section css **/
/** about section css **/
.about-section {
  padding: 120px 0;
}
.about-section .about-top-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 75px;
  margin-bottom: 70px;
}
.about-section .about-img-box {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  width: 25%;
  text-align: center;
}
.about-section .about-greeting-box .about-greeting-tit {
  font-size: 4.5rem;
}
.about-section .about-greeting-box .about-greeting-txt {
  font-size: 2rem;
  letter-spacing: -0.05em;
  line-height: 1.5;
  margin-top: 15px;
}
.about-section .about-greeting-box .link-btn {
  display: block;
  border: 1px solid #ccd6f6;
  font-size: 1.6rem;
  text-align: center;
  max-width: 200px;
  padding: 10px 0;
  margin: 20px auto 0;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.about-section .about-greeting-box .link-btn:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}
.about-section .about-my-box {
  display: grid;
  grid-template-areas: ". .";
  grid-auto-columns: 1fr;
  gap: 35px;
}
.about-section .about-my {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  padding: 75px 50px;
  overflow: hidden;
}
.about-section .about-my:last-child {
  grid-area: 2/3/2/1;
}
.about-section .about-my-top {
  text-align: center;
  margin-bottom: 35px;
}
.about-section .about-my-icon {
  position: relative;
  max-width: 120px;
  margin: 0 auto 15px;
}
.about-section .about-my-icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0a192f;
  -webkit-filter: blur(10px);
          filter: blur(10px);
  z-index: -1;
}
.about-section .about-my-icon i {
  font-size: 4rem;
  width: 100%;
  height: 100%;
  background: linear-gradient(140deg, #0a192f 33%, #0e2a51 70%);
  padding: 25px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
}
.about-section .about-my-tit {
  font-size: 2rem;
  letter-spacing: 0.3em;
}
.about-section .about-my-txt {
  font-size: 1.6rem;
  word-break: keep-all;
  line-height: 1.4;
}
.about-section .about-my-txt.about-profile-subject {
  font-weight: 500;
}
.about-section .about-my-profile-list, .about-section .about-my-career-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about-section .about-my-profile-list {
  gap: 15px 0;
}
.about-section .about-my-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 10px;
}
.about-section .about-my-profile .about-subject-wrap-last {
  width: 100%;
}
.about-section .about-my-profile i {
  font-size: 1.5rem;
  margin-top: 4px;
}
.about-section .about-my-career-list {
  gap: 30px 0;
}
.about-section .about-my-career {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 7px;
}
.about-section .about-my-career::before {
  content: "-";
  color: #fff;
  font-size: 1.4rem;
}
.about-section .about-my-career-name {
  font-size: 1.8rem;
  margin-bottom: 10px;
}
.about-section .about-my-skil-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px 25px;
  padding: 30px 0;
  margin-bottom: 25px;
  overflow: auto;
}
.about-section .about-my-skil-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #0a192f;
  border-radius: 50%;
  min-width: 105px;
  min-height: 105px;
  margin: 0 auto;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.about-section .about-my-skil-btn.active {
  background: radial-gradient(circle at 50%, #0e2a51, #000);
  border: 5px solid #0a192f;
}
.about-section .about-my-skil-btn i {
  font-size: 3rem;
}
.about-section .about-my-skil-name {
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Anton", sans-serif;
}
.about-section .about-my-skil-detail-box {
  border: 3px solid #0a192f;
  padding: 8px 20px 25px;
}
.about-section .about-my-skil-detail-name {
  border-bottom: 5px solid #0a192f;
  display: inline-block;
  font-size: 4rem;
  font-weight: 500;
  font-family: "Anton", sans-serif;
  letter-spacing: 0;
  padding-bottom: 5px;
  padding-right: 25px;
  margin-bottom: 25px;
}
.about-section .about-my-skil-detail-desc {
  font-size: 1.8rem;
  line-height: 1.6;
  word-break: keep-all;
}

/** ...about section css **/
/** works section css **/
.work-section {
  padding: 120px 0;
}
.work-section .work-list {
  display: grid;
  grid-template-areas: ". . .";
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 25px 15px;
}
.work-section .work {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  border-radius: 20px;
  padding: 30px 20px;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.work-section .work:hover {
  -webkit-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.5);
}
.work-section .work-txt {
  font-size: 1.4rem;
  font-family: "Anton", sans-serif;
  letter-spacing: 0.8em;
}
.work-section .work-name {
  font-size: 2rem;
  font-weight: 500;
  word-break: keep-all;
  margin: 17px 0;
}
.work-section .work-info {
  margin-bottom: 7px;
}
.work-section .work-info:last-child {
  margin-bottom: 0;
}
.work-section .work-info::before {
  content: "-";
  color: #fff;
  font-size: 1.6rem;
}
.work-section .work-info span {
  font-size: 1.4rem;
  font-weight: 300;
}
.work-section .work-link-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 10px;
  margin-top: 25px;
}
.work-section .work-link {
  border: 1px solid #04a35b;
  border-radius: 7px;
  text-align: center;
  width: 100%;
  padding: 7px 0;
  position: relative;
  overflow: hidden;
}
.work-section .work-link span {
  font-size: 1.5rem;
  font-weight: 300;
  position: relative;
  z-index: 2;
}
.work-section .work-link::after {
  content: "";
  background: #04a35b;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}
.work-section .work-link:hover::after {
  width: 100%;
}
.work-section .work-link:hover span {
  color: #000;
  font-weight: 600;
}
.work-section .btn-wrap {
  margin-top: 50px;
  text-align: center;
}
.work-section .btn-wrap #loadMoreBtn {
  border: 1px solid #04a35b;
  width: 100%;
  max-width: 300px;
  padding: 7px 0;
  position: relative;
  overflow: hidden;
}
.work-section .btn-wrap #loadMoreBtn span {
  font-size: 2rem;
  position: relative;
  z-index: 2;
}
.work-section .btn-wrap #loadMoreBtn::after {
  content: "";
  background: #04a35b;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}
.work-section .btn-wrap #loadMoreBtn:hover::after {
  width: 100%;
}
.work-section .btn-wrap #loadMoreBtn:hover span {
  color: #000;
  font-weight: 600;
}

/** ...works section css **/
/** Note section css **/
.note-section {
  padding: 120px 0;
}
.note-section .note-content-container {
  display: grid;
  grid-template-areas: ". .";
  grid-auto-columns: 0.5fr 1fr;
  gap: 15px;
}
.note-section .note-content-tit-wrap,
.note-section .note-content-wrap {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  height: 500px;
}
.note-section .note-content-tit-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  padding: 20px;
}
.note-section .note-content-tit-wrap .note-content-tit {
  font-size: 3.2rem;
}
.note-section .note-content-tit-wrap .note-content-desc {
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  word-break: keep-all;
}
.note-section .note-content-tit-wrap .note-content-desc strong {
  border-bottom: 1px solid #04a35b;
}
.note-section .note-content-tit-wrap .link-btn {
  border: 1px solid #04a35b;
  border-radius: 7px;
  text-align: center;
  width: 70%;
  max-width: 180px;
  padding: 7px 0;
  position: relative;
  overflow: hidden;
}
.note-section .note-content-tit-wrap .link-btn span {
  font-size: 1.5rem;
  font-weight: 300;
  position: relative;
  z-index: 2;
}
.note-section .note-content-tit-wrap .link-btn::after {
  content: "";
  background: #04a35b;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}
.note-section .note-content-tit-wrap .link-btn:hover::after {
  width: 100%;
}
.note-section .note-content-tit-wrap .link-btn:hover span {
  color: #000;
  font-weight: 600;
}
.note-section .note-content-wrap {
  padding: 50px;
  overflow-y: auto;
}
.note-section .note-content-wrap::-webkit-scrollbar {
  display: block;
  width: 8px;
}
.note-section .note-content-wrap::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}
.note-section .note-content-wrap::-webkit-scrollbar-thumb {
  background: #04a35b;
  border-radius: 8px;
  height: 10%;
}
.note-section .note-content-wrap #blogContentList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}
.note-section .note-content-wrap #blogContentList .blog-content {
  display: grid;
  grid-template-areas: ". .";
  grid-auto-columns: 1fr 20%;
  gap: 20px;
  border-bottom: 1px solid #04a35b;
  padding-bottom: 50px;
}
.note-section .note-content-wrap #blogContentList .blog-content:last-child {
  border-bottom: 0;
}
.note-section .note-content-wrap #blogContentList .blog-content-text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.note-section .note-content-wrap #blogContentList .blog-content-text-wrap span {
  font-size: 1.3rem;
}
.note-section .note-content-wrap #blogContentList .blog-content-text-wrap h4 {
  font-size: 2.5rem;
  line-height: 1.4;
  word-break: keep-all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.note-section .note-content-wrap #blogContentList .blog-content-text-wrap .content-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-top: 5px;
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.note-section .note-content-wrap #blogContentList .blog-content-text-wrap .content-link span {
  font-size: 1.7rem;
}
.note-section .note-content-wrap #blogContentList .blog-content-text-wrap .content-link i {
  font-size: 1.7rem;
  margin-top: -2px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.note-section .note-content-wrap #blogContentList .blog-content-text-wrap .content-link:hover {
  opacity: 1;
}
.note-section .note-content-wrap #blogContentList .blog-content-text-wrap .content-link:hover i {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}
.note-section .note-content-wrap #blogContentList .blog-content-thumb-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.note-section .note-content-wrap #blogContentList .blog-content-thumb-wrap img {
  border-radius: 12px;
}

/** ...Note section css **/
/** contact section css **/
.contact-section {
  padding: 120px 0;
}
.contact-section .contact-content-container {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-template-areas: ". .";
  grid-auto-columns: 50% 30%;
  gap: 15px;
}
.contact-section .contact-form-box {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  border: 1px solid #04a35b;
  border-radius: 20px;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}
.contact-section .contact-form-inner {
  padding: 45px 25px;
}
.contact-section .contact-form {
  margin-bottom: 35px;
}
.contact-section .contact-form:last-child {
  margin-bottom: 0;
}
.contact-section .contact-form label {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 300;
  font-family: "Anton", sans-serif;
  letter-spacing: 0.1em;
}
.contact-section .contact-form-input {
  margin-top: 10px;
}
.contact-section .contact-form input, .contact-section .contact-form textarea {
  font-size: 1.6rem;
}
.contact-section .contact-form textarea {
  height: 200px;
}
.contact-section .contact-form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 20px;
}
.contact-section .contact-form-btn .contact-btn {
  border: 1px solid #04a35b;
  width: 100%;
  padding: 20px 0;
  position: relative;
}
.contact-section .contact-form-btn .contact-btn::after {
  content: "";
  background: #04a35b;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}
.contact-section .contact-form-btn .contact-btn:hover::after {
  width: 100%;
}
.contact-section .contact-form-btn .contact-btn:hover span {
  color: #000;
  font-weight: 600;
}
.contact-section .contact-form-btn .contact-btn span {
  color: #ccd6f6;
  font-size: 1.6rem;
  position: relative;
  z-index: 2;
}
.contact-section .contact-qr-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #04a35b;
  border-radius: 20px;
  padding: 20px 45px;
  text-align: center;
  height: 100%;
}
.contact-section .contact-qr-box .qr-text-wrap {
  text-align: center;
}
.contact-section .contact-qr-box .qr-text-wrap .qr-tit {
  font-size: 1.8rem;
  margin-bottom: 10px;
}
.contact-section .contact-qr-box .qr-text-wrap .qr-desc {
  font-size: 1.6rem;
  letter-spacing: -0.05em;
}
.contact-section .contact-qr-box .qr-wrap {
  margin-top: 25px;
}
.contact-section .contact-qr-box .qr-wrap a {
  display: block;
  border: 1px solid #fff;
  padding: 15px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.contact-section .contact-qr-box .qr-wrap:hover a {
  background-color: #000;
}
.contact-section .contact-social-box {
  margin-top: 15px;
  max-width: 500px;
  margin: 30px auto 0;
}
.contact-section .contact-social-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0 10px;
}
.contact-section .social {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  width: 100%;
  padding: 15px 0;
  text-align: center;
}
.contact-section .social i, .contact-section .social p {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.contact-section .social i {
  font-size: 3rem;
}
.contact-section .social-name {
  font-size: 1.6rem;
  margin-top: 8px;
}
.contact-section .social#socialGit:hover i, .contact-section .social#socialGit:hover p {
  color: #fff600;
}
.contact-section .social#socialTstory:hover i, .contact-section .social#socialTstory:hover p {
  color: #01e905;
}
.contact-section .social#socialInsta:hover i, .contact-section .social#socialInsta:hover p {
  color: #ff00ff;
}

.error {
  -webkit-animation: contactInputError infinite 0.2s;
          animation: contactInputError infinite 0.2s;
}

/** ...contact section css **/
.modal-wrap {
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
}

#formSendModal {
  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #04a35b;
  border-radius: 20px;
  width: 80%;
  max-width: 420px;
  padding: 35px 25px;
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#formSendModal .modal-text-wrap {
  margin-bottom: 35px;
}
#formSendModal .modal-text-wrap .modal-tit {
  font-size: 3.9rem;
  font-weight: 300;
  font-family: "Anton", sans-serif;
  margin-bottom: 15px;
}
#formSendModal .modal-text-wrap .modal-desc {
  font-size: 1.8rem;
  line-height: 1.4;
  word-break: keep-all;
  margin-bottom: 15px;
}
#formSendModal .modal-text-wrap .modal-desc:last-child {
  margin-bottom: 0;
}
#formSendModal .modal-btn-wrap {
  width: 80%;
  margin: 0 auto;
}
#formSendModal .modal-btn-wrap #modalCloseBtn {
  border: 1px solid #04a35b;
  width: 100%;
  padding: 8px 0;
  position: relative;
}
#formSendModal .modal-btn-wrap #modalCloseBtn span {
  color: #04a35b;
  font-size: 1.8rem;
  position: relative;
  z-index: 2;
}
#formSendModal .modal-btn-wrap #modalCloseBtn::after {
  content: "";
  background: #04a35b;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}
#formSendModal .modal-btn-wrap #modalCloseBtn:hover::after {
  width: 100%;
}
#formSendModal .modal-btn-wrap #modalCloseBtn:hover span {
  color: #000;
  font-weight: 600;
}
#formSendModal.active {
  top: 50%;
  opacity: 1;
}

#loadingScreen {
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
}
#loadingScreen .loading-screen-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}
#loadingScreen #loadingAniWrap {
  max-width: 12%;
}

/** animations class **/
.bg-ani {
  -webkit-animation: lineAni 3s infinite alternate;
          animation: lineAni 3s infinite alternate;
}

.fade-ani {
  -webkit-animation: fade 1s infinite alternate;
          animation: fade 1s infinite alternate;
}

/** ...animations class **/
/** intro animation keyframes **/
@-webkit-keyframes bouncing {
  0% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-transform: translateX(0) translateY(-15px);
            transform: translateX(0) translateY(-15px);
  }
}
@keyframes bouncing {
  0% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-transform: translateX(0) translateY(-15px);
            transform: translateX(0) translateY(-15px);
  }
}
/** ...intro animation keyframes **/
@-webkit-keyframes titleLight {
  0% {
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.6);
  }
  100% {
    text-shadow: 0 0 11px rgba(255, 255, 255, 0.6);
  }
}
@keyframes titleLight {
  0% {
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.6);
  }
  100% {
    text-shadow: 0 0 11px rgba(255, 255, 255, 0.6);
  }
}
@-webkit-keyframes typingCursor {
  0% {
    background-color: #fff;
  }
  100% {
    background-color: #000;
  }
}
@keyframes typingCursor {
  0% {
    background-color: #fff;
  }
  100% {
    background-color: #000;
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes scrollball {
  0% {
    top: 17%;
  }
  100% {
    top: 82%;
    opacity: 0;
  }
}
@keyframes scrollball {
  0% {
    top: 17%;
  }
  100% {
    top: 82%;
    opacity: 0;
  }
}
@-webkit-keyframes contactInputError {
  0% {
    border-color: #ff0000;
  }
  100% {
    border-color: #04a35b;
  }
}
@keyframes contactInputError {
  0% {
    border-color: #ff0000;
  }
  100% {
    border-color: #04a35b;
  }
}
/** ...main animation keyframes **/
@media screen and (max-width: 550px) {
  .nav-wrap .nav-open-btn-wrap {
    display: block;
  }
  .nav-wrap .nav-open-btn-wrap #navOpenBtn.active .nav-btn-el:nth-child(1) {
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(45deg);
            transform: translateY(-50%) rotate(45deg);
  }
  .nav-wrap .nav-open-btn-wrap #navOpenBtn.active .nav-btn-el:nth-child(2) {
    opacity: 0;
  }
  .nav-wrap .nav-open-btn-wrap #navOpenBtn.active .nav-btn-el:nth-child(3) {
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(-45deg);
            transform: translateY(-50%) rotate(-45deg);
  }
  .nav-wrap nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1001;
  }
  .nav-wrap nav::before, .nav-wrap nav::after {
    content: "";
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
    width: 50%;
    height: 100%;
    position: absolute;
    opacity: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .nav-wrap nav::before {
    top: 100%;
    left: 0;
  }
  .nav-wrap nav::after {
    bottom: 100%;
    right: 0;
  }
  .nav-wrap nav .nav-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 90%;
    position: relative;
    opacity: 0;
    z-index: 2;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .nav-wrap nav.active::before {
    top: 0;
    opacity: 1;
  }
  .nav-wrap nav.active::after {
    bottom: 0;
    opacity: 1;
  }
  .nav-wrap nav.active .nav-inner {
    height: 100%;
    opacity: 1;
    -webkit-transition-delay: 0.6s;
            transition-delay: 0.6s;
  }
  .nav-wrap .nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: calc(10vh - 35px);
  }
  .nav-wrap .nav-list .menu::after {
    height: 3px;
  }
  .nav-wrap .nav-list span, .nav-wrap .nav-list b {
    font-size: 3rem;
  }
}
@media screen and (max-width: 821px) {
  .visual-section .visual-content #visualAniWrap {
    max-width: 20%;
  }
  .about-section .about-my-box {
    grid-template-areas: ".";
  }
  .about-section .about-my {
    padding: 50px 20px;
  }
  .about-section .about-my:last-child {
    grid-area: 3;
  }
  .work-section .work-list {
    grid-template-areas: ". .";
  }
  .note-section .note-content-container {
    grid-template-areas: ".";
    grid-auto-columns: 1fr;
  }
  .note-section .note-content-tit-wrap,
  .note-section .note-content-wrap {
    height: 400px;
  }
}
@media screen and (max-width: 550px) {
  html {
    font-size: 56%;
  }
  .about-section {
    padding: 75px 0;
  }
  .about-section .about-top-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 25px;
  }
  .about-section .about-img-box {
    width: 50%;
  }
  .about-section .about-greeting-box {
    text-align: center;
  }
  .work-section {
    padding: 75px 0;
  }
  .work-section .work-list {
    grid-template-areas: ".";
    gap: 15px;
  }
  .note-section .note-content-container .note-content-wrap {
    padding: 25px 20px;
  }
  .note-section .note-content-container #blogContentList .blog-content h4 {
    max-width: 100%;
  }
  .contact-section .contact-content-container {
    grid-template-areas: ".";
    grid-auto-columns: 1fr;
  }
  .contact-section .contact-form-box {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
@media screen and (max-width: 376px) {
  .about-section .about-my-profile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}