/*** intro css ***/
.intro-box {
    @include position(
        $p: fixed,
        $t: 0,
        $l: 0,
    );
    background: $intro-bg;
    width: 100%;
    height: 100%;

    &-inner {
        max-width: 720px;
        height: 100%;
        margin: 0 auto;
    }
}

.intro-content-wrap {
    @include display(
        $dp: flex,
        $direction: column,
        $align: center,
        $justify: center,
    );
    width: 100%;
    height: 100%;
}

#introAniBox {
    max-width: 65%;
}

.progress-wrap {
    width: 100%;
    max-width: 250px;
}

.progress-bar {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.4);
    width: 100%;
    height: 5px;
    position: relative;
    overflow: hidden;

    .percentage-bar {
        @include position(
            $t: 0,
            $l: 0
        );
        width: 0;
        height: 100%;
        background: #eaeaea;
        transition: width 5s;
    }
}

.intro-txt {
    text-align: center;
    margin-top: 20px;
    position: relative;

    &-cont {
        @include position();
        width: 100%;
        opacity: 0;
        transition: all 0.3s;

        &.active {
            opacity: 1 !important;
            transform: none !important;
        }
    }

    .loading-txt-box {
        transform: translateX(-50%);

        .loading-txt {
            display: inline-block;
            position: relative;
            animation: bouncing 0.8s infinite alternate;
        }

        @for $i from 1 to 10 {
            .loading-txt:nth-child(#{$i}) {
                animation-delay: #{'.'+$i}s;
            }
        }
    }

    .greeting-txt-box {
        transform: translateX(50%);
    }

    span {
        color: $white;
        @include fontStyle(
            $size: 1.6rem,
            $weight: $font-midium,
            $family: $font-anton,
        )
    }
}

/* intro animation keyframe */
@keyframes bouncing {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-15px);
    }
}
/*** ...intro css ***/