/*** intro css ***/
.intro-box {
    @include position(
        $p: fixed,
        $t: 0,
        $l: 0,
    );
    background: $intro-bg;
    width: 100%;
    height: 100%;
    transition: all $transition-intro-timer;
    transition-delay: 0.6s;

    &-inner {
        max-width: 720px;
        height: 100%;
        margin: 0 auto;
    }

    &::after {
        content: "";
        background: #000;    
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: scaleY(0);
        transition: all $transition-intro-timer;
    }

    &.close {
        transform: scaleY(0);
        opacity: 0;

        &::after {
            transform: scaleY(1);
        }
    }
}

.intro-content-wrap {
    @include display(
        $dp: flex,
        $direction: column,
        $align: center,
        $justify: center,
    );
    width: 100%;
    height: 100%;
}

#introAniBox {
    max-width: 65%;
}

.progress-wrap {
    width: 100%;
    max-width: 250px;
}

.progress-bar {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.4);
    width: 100%;
    height: 5px;
    position: relative;
    overflow: hidden;

    .percentage-bar {
        @include position(
            $t: 0,
            $l: 0
        );
        width: 0;
        height: 100%;
        background: #eaeaea;
        transition: width 3s;
    }
}

.intro-txt {
    text-align: center;
    margin-top: 20px;
    position: relative;

    &-cont {
        @include position();
        width: 100%;
    }

    .loading-txt-box {

        .loading-txt {
            position: relative;
            animation: bouncing 0.8s infinite alternate;
            opacity: 0;
            transition: opacity 0.3s;

            @for $i from 1 to 10 {
                &:nth-child(#{$i}) {
                    animation-delay: #{'.'+$i}s;
                    transition-delay: #{'.'+$i}s;
                }
            }

            &.active {
                opacity: 1;
            }
        }
    }

    .connect-txt-box {
        
        .connect-txt {
            opacity: 0;
            transform: translateY(30px);
            transition: all $transition-intro-timer;
            @for $i from 1 to 9 {
                &:nth-child(#{$i}) {
                    transition-delay: #{'.'+$i}s;
                }
            }

            &.active {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    span {
        display: inline-block;
        color: $white;
        @include fontStyle(
            $size: 1.6rem,
            $weight: $font-midium,
            $family: $font-anton,
        );
        letter-spacing: 0.07em;
    }
}

/* intro animation keyframe */
@keyframes bouncing {
    0% {
        transform: translateX(0) translateY(0);
    }

    100% {
        transform: translateX(0) translateY(-15px);
    }
}
/*** ...intro css ***/