// display mixin
@mixin display(
    $dp: null,
    $justify: null,
    $align: null,
    $areas: null,
    $columns: null,
    $rows: null,
    $direction: null,
    $wrap: null,
    $gap: null,

) {
    display: $dp;
    justify-content: $justify;
    align-items: $align;
    grid-template-areas: $areas;
    grid-auto-columns: $columns;
    grid-auto-rows: $rows;
    flex-direction: $direction;
    flex-wrap: $wrap;
    gap: $gap;
}

// position mixin
@mixin position(
    $p: absolute,
    $t: null,
    $l: null,
    $b: null,
    $r: null,
) {
    position: $p;
    top: $t;
    left: $l;
    bottom: $b;
    right: $r;
}

//backgroud mixin
@mixin bgStyle(
    $bg-img: null,
    $bg-size: null,
    $bg-position: null,
    $bg-attachment: null,
    $bg-repeat: null,
    $bg-color: null
) {
    background-image: $bg-img;
    background-size: $bg-size;
    background-position: $bg-position;
    background-attachment: $bg-attachment;
    background-repeat: $bg-repeat;
    background-color: $bg-color;
}

// font style mixin
@mixin fontStyle(
    $size: null,
    $weight: null,
    $family: null,
) {
    font-size: $size;
    font-weight: $weight;
    font-family: $family;
}

// content bg 
@mixin contentBg() {
    background-color: $rgbaBlack-05;
    backdrop-filter: blur(3px);
}

// scrollbar custom
@mixin scrBarCustom(
    $trackColor: null,
    $thumbColor: null,
    $scrWidth: null
) {
    &::-webkit-scrollbar {
        display: block;
        width: $scrWidth
    }

    &::-webkit-scrollbar-track {
        background: $trackColor;
    }

    &::-webkit-scrollbar-thumb {
        background: $thumbColor;
        border-radius: $scrWidth; 
        height: 10%;
    }
}

//text overflow clamp mixin
@mixin textVerticalOverflow($clamp: null) {
    display: -webkit-box;
    -webkit-line-clamp: $clamp;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin btnElHoverAction() {

    &::after {
        content: "";
        background: $content-main-color;
        @include position(
            $t: 0,
            $l: 0,
        );
        width: 0;
        height: 100%;
        transition: width 0.3s;
    }

    &:hover {
        &::after {width: 100%;}

        span {
            color: $black;
            font-weight: $font-bold;
        }
    }
}