* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
}

html {
    font-size: 62.5%;
    font-family: $font-main;
    overflow: hidden;

    @include scrBarCustom(
        $trackColor: rgba(0, 0, 0, 0.8),
        $thumbColor: $content-main-color,
        $scrWidth: 8px,
    );
}

img {
    width: 100%;
}

section {
    position: relative;
    z-index: 2;
}

.section-inner {
    box-sizing: border-box;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 25px;
}

input,textarea,button {
    border: 0;
    box-sizing: border-box;
    @include fontStyle(
    $family: $font-main,
    );
}

input,textarea {
    background: transparent;
    border: 1px solid $content-main-color;
    color: $white;
    width: 100%;
    padding: 7px 5px;
}

textarea {
    resize: none;
}

button {
    cursor: pointer;
    background: transparent;
}

h1,h2,h3,h4,h5,h6,p,span,b,strong,i,a {
    color: $text-main-color;
}