$img-url: "../../src/img";
$intro-bg: radial-gradient(circle at 50% 50%, rgb(10, 25, 47), rgb(0, 0, 0) 50% 50%);
$black: #000;
$white: #fff;
$rgbaBlack-01: rgba(0, 0, 0, 0.1);
$rgbaBlack-02: rgba(0, 0, 0, 0.2);
$rgbaBlack-03: rgba(0, 0, 0, 0.3);
$rgbaBlack-04: rgba(0, 0, 0, 0.4);
$rgbaBlack-05: rgba(0, 0, 0, 0.5);
$main-color: #0a192f;
$sub-color: #0e2a51;
$third-color: #0f3c7a;
$content-main-color: #04a35b;
$text-main-color: #ccd6f6;
$font-main: 'Pretendard';
$font-noto: 'Noto Sans KR', sans-serif;
$font-anton: 'Anton', sans-serif;
$font-bold: 600;
$font-midium: 500;
$font-regular: 400;
$font-light: 300;
$transition-intro-timer: 0.5s;